$color-black: #000000;
$color-white: #ffffff;

$color-blue: #308FD9;
$color-green: #65D55B;
$color-dark-green: #5ABA51;

$color-grey: #D0D3D0;
$color-grey-light: #F5F4F4;

//viewport width
$viewportwidth: calc(100vw - (100vw - 100%));

// gutter
$features-gutter: 6rem;