.reviews-section {
	background-color: $color-blue;
	padding: 1rem;
	box-shadow: inset 1rem 1rem 4rem rgba($color-black, 0.3);
	width: $viewportwidth;
}

.reviews {
	width: 115rem;
	margin: 0 auto;
	padding: 4rem 0rem;

	&__title {
		margin: 0 auto;
		margin-bottom: 4rem;
		text-align: center;
		font-size: 4rem;
		color: $color-white;
		font-weight: 600;

		&-big {
			font-size: 6rem;
		}
	}

	&__box {
		width: 80%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		border-radius: 3px;
		background-color: $color-white;
		box-shadow: 0rem 2rem 4rem rgba($color-black, 0.3);
		padding: 1rem 2rem;


		&-profile {
			width: 25rem;
			align-items: center;
			&--image {
				height: 20rem;
				
				transform: scale(1);
				clip-path: circle(50% at 50% 50%);
				border-radius: 3px;
			}
		}

		&-text {
			flex-grow: 2;
			padding: 0rem 2rem;
			width: 100%;

			&--name {
				font-size: 2.5rem;
				text-transform: uppercase;
				font-weight: 600;
				color: $color-blue;

				@include respond(phone) {
					margin-top: 2rem;
					font-size: 3.5rem;
				}

				@include respond(mobile-l) {
					font-size: 4rem;
				}
			}

			&--description {
				margin-top: 0rem;
				font-size: 2rem;

				@include respond(phone) {
					margin-top: 2rem;
					font-size: 3rem;
				}

				@include respond(mobile-l) {
					font-size: 3.5rem;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 6rem;
		}

		@include respond(phone) {
			flex-direction: column;
			padding: 5rem;
			text-align: center;
			width: 90%;
		}
	}

	@include respond(tab-land) {
		width: 100%;
	}

	@include respond(tab-port) {
		width: 100%;
	}
}